:root {
    --dark: #000000;
    --soft-dark: #333333;
    --white: #ffffff;
    --red: #fa1511;
    --blue: #1127f0;
}
* {
    box-sizing: border-box;
    margin: 0;
}

.header {
    margin-top: 20px;
    text-align: center;
}

body {
    background-color: var(--dark);
    height: 100vh;
}

.header__title {
    font-family: "Lexend Deca", sans-serif;
    color: var(--white);
}
.main {
    margin-top: 30px;
    height: 100%;
}

.main__options {
    display: flex;
    flex-direction: column;
}

.main__options--search {
    background-color: var(--soft-dark);
    position: relative;
    width: 500px;
    height: 100px;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.main__input {
    width: 300px;
    height: 40px;
    border-right: none;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
}

.main__icon {
    width: 40px;
    height: 39px;
    background-color: var(--white);
    border: none;
    cursor: pointer;
}

.main__input:focus {
    outline: none;
}

.main__list {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    width: 90%;
    height: 100%;
    background-color: var(--dark);
    border-radius: 5px;
}

.main__table {
    color: var(--white);
    position: absolute;
    margin-top: 20px;
    width: 100%;
    background: var(--soft-dark);
    border-radius: 5px;
    padding: 20px;
}

.main__table--img {
    width: 100px;
    height: 100px;
}

.main__table--td {
    text-align: center;
    font-family: "Lexend Deca", sans-serif;
}

.main__table--tr {
    border-top: 1px white solid;
}

.main__table--span {
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: var(--red);
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    border-radius: 5px;
}

.icon__option {
    padding-top: 6px;
}

.main__table--th:nth-child(1) {
    width: 5%;
}
.main__table--th:nth-child(2) {
    width: 15%;
}
.main__table--th:nth-child(3) {
    width: 30%;
}
.main__table--th:nth-child(4) {
    width: 20%;
}

.main__table--th:nth-child(5) {
    width: 15%;
}
.main__table--th:nth-child(5) {
    width: 15%;
}

.main__modal {
    width: 400px;
    height: 200px;
    color: var(--white);
    background-color: var(--dark);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    transform: scale(0);
}

.modal__title {
    font-family: "Lexend Deca", sans-serif;
    font-size: 30px;
    position: relative;
    top: 20px;
}

.modal__text {
    position: relative;
    top: 40px;
    padding-right: 10px;
    padding-left: 10px;
}

.main__button {
    background-color: var(--blue);
    width: 100px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-family: "Lexend Deca";
    cursor: pointer;
}

.main__button--center {
    margin: auto;
    margin-top: 10px;
}

.modal__button {
    position: relative;
    background-color: var(--red);
    top: 60px;
}

.modal__close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.open-modal-delete {
    animation: openModalDelete 0.3s forwards;
}

.close-open-delete {
    animation: closeModalDelete 0.3s forwards;
}

.modal__label {
    width: 50px;
    height: 50px;
    background-color: #d4cac9;
    position: absolute;
    display: inline-block;
    top: 5px;
    margin: auto;
    left: 0;
    border: none;
}

.main__modal--edit {
    height: 600px;
    width: 400px;
}

.modal__container {
    width: 90%;
    height: 60px;
    position: relative;
    top: 50px;
    right: 0;
    left: 0;
    margin: auto;
}

.modal__input {
    position: absolute;
    width: 300px;
    height: 50px;
    top: 5px;
    margin: auto;
    display: inline-block;
    left: 50px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: "Lexend Deca", sans-serif;
}

.modal__error {
    position: absolute;
    bottom: 0;
    background-color: var(--red);
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 5px;
    height: 30px;
    width: 80%;
    display: none;
}

.modal__input:focus {
    outline: none;
}

.icon__input {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

/*Animations*/

@keyframes openModalDelete {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes closeModalDelete {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
